.root {
    min-height: 100vh;
    border: 1.5px solid var(--light-shadow-1);
    background-color: var(--secondary-bg);
    width: 100%;
}

.rootInnerWrapper {
    padding: 5% 6%;
    overflow: hidden;
}

.title {
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
}

.menuContainer {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 100%;
}

.addNewButton {
    background-color: var(--primary-color);
    font-weight: 500;
    color: #ffffff !important;
    padding: 6px 12px;
    transition: all 100ms ease-in-out;
    margin-bottom: 12px;
}
.addNewButton:hover {
    background-color: var(--primary-color-light-1);
}
